.index-content, .content {
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
  font-size: 16px;
}

b, strong, i, em {
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

#main h1, #main h2, #main h3 {
  font-family: "Ubuntu Mono", "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

#main h1 {
  text-decoration: underline;
}

.index-content ul {
  list-style-type: "\2014";
}

.content blockquote {
    margin: 1em 0;
    padding: 0 0 0 0;
    color: var(--bq-color);
}

.content blockquote:before {
    font-size: 100%;
    color: var(--bq-color);
    content: "> ";
    top: 0;
    left: -0.5em;
}
