:root {
    --font-color: #333;
    --bg-color: #fff; /* #f0f0f0; */
    --content-bg-color: #fff;

    --menu-color: #333;
    --menu-bg-color: #f0f0f0;

    --link-color:#990000;
    --link-state-color:#990000;
    --link-state-border-color: rgba(153, 0, 0, 1);

    --thead-bg-color: lightgrey;
    --table-border-color: lightgrey;

    --pre-color: #666;
    --pre-bg-color: #f0f0f0;
    
    --bq-bar-color: #eee;
    --bq-color: #666;
    
    --hr-color: #eee;

    --pagination-bg-color: #fafafa;
    --pagination-link-color: #696969;

    --post-info-color: grey;

    --switcher-color: #fff;
    --switcher-bg-color: #333; 
}
