/* Basic */

html {
    font-family: 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", Roboto, "Helvetica Neue", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 17px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background-color: var(--bg-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}	

.container {
    max-width: 600px;
    margin: 0 auto;
}

main {
    outline:none;
}

/* Headers */

h1, h2, h3 {
  font-weight: normal;
}

h1 {
    font-size: 1.35em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--link-state-color);
    /* border-bottom: 1px solid var(--link-state-border-color); */
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

a:active {
    opacity: 0.9;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, 
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}

/* Table */
thead {
    background: var(--thead-bg-color);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}


th, td {
    padding: 0.5em 1em;
    border: 1px double var(--table-border-color);
}

/* Code */
pre {
    color: var(--pre-color)
    background-color: var(--pre-bg-color);
    padding: 1em;
    max-width: 100%;
    overflow: auto;
}

code,
pre,
kbd {
    margin: 0;
    background-color: #fff;
    padding: 0.05em;
    font-family: "Ubuntu Mono", Monaco, Menlo, monospace;
    font-size: 0.9em;
    color: #993333;
}

/* Lists */

ul, menu, dir {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 1.8em;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 1.8em;
}

li { padding-left: 0.2em; }

/* Blockquote */

blockquote {
    margin: 1em 0;
    /* border-left: 1px solid var(--bq-bar-color); */
    padding: 0 0 0 2em;
    color: var(--bq-color);
}

blockquote:before {
    display: block;
    font-size: 500%;
    color: #999;
    content: "“";
    height: 1px;
    margin-left: -0.45em;
    position: relative;
    top: -0.33em;
}

blockquote > p {
    margin: 0.5em 0;
}

blockquote > p:first-of-type {
    margin-top: 0;
}

blockquote > p:last-of-type {
    margin-bottom: 0;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border-top: 1px solid var(--hr-color);
    height: 1px;
    border: 0;
}

ul ol, ol ol, ul ul {
    margin: 0em 2em;
}



/* Header */

header {
    display: block;
    justify-content: space-between;
}

header img.avatar {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
}

header a {
    color: var(--font-color);
}

header h1 {
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

header h2 {
    font-size: 0.9em;
    margin: 0;
    font-weight: normal;
}

header nav {
    display: block;
    font-size: 0.9em;
    margin-top: 0;
    max-width: 100%;
    text-align: center;
}

header nav a {
    margin-left: 1em;
    text-transform: uppercase;
}

header nav a:first-of-type {
    margin-left: 0;
}

.site-title {
    white-space: nowrap;
}

.common-header {
    padding-bottom: 1.5em;
    /* border-bottom: thin solid var(--hr-color); */
}

/* Pages */
main h1 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

/* Articles */

main article {
  margin: 1em 0 2em;
  border: 1px solid var(--content-bg-color);
  padding: 0.5em 1em;
  border-radius: 5px;
  background: var(--content-bg-color);
}

/* article:not(:last-of-type) {
    padding-top: 1em;
    padding-bottom: 2em;
} */

 main article.special {
  border: 0;
  padding: 0;
  border-radius: 0;
  background: var(--bg-color);
}

.post-navigation {
    background: var(--pagination-bg-color);
    text-align: center;
    margin-top: 1em;
    max-width: 100%;
    padding: 0.5em 0;
}

.post-navigation a:first-of-type {
    margin-left: 0;
}

.post-navigation a {
    color: var(--pagination-link-color);
    margin-left: 2em;
}

.post-navigation a:hover, 
.post-navigation a:focus,
.post-navigation a:active {
    color: var(--link-state-color);
}

.post-title.favorite::after {
    content: "☆";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.draft::after {
    content: "✎";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.favorite.draft::after {
    content: "☆ ✎";
    display: inline-block;
    margin-left: 0.2em;
}

article header h1 {
    font-size: 1.35em;
    line-height: 1.2em;
    margin: 0.75em 0 1em;
    font-weight: normal;
    text-transform: uppercase;
}

.content article header h1 {
    text-align: left;
}

article header h1 a {
    color: var(--font-color);
    border: none;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.post-info {
    color: var(--post-info-color);
    font-size: 0.8em;
    margin: 1em 0 0;
}

.post-info a {
    color: var(--post-info-color);
}

.post-info a:hover {
    color: var(--link-state-color);
}

.post-taxonomies {
    display: inline;
}

.post-date {
    display: inline;
    white-space: nowrap;
}

.post-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.post-categories li {
    display: inline;
    margin-right: 1em;
}

.post-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-tags li {
    display: inline;
    margin-left: 1em;
    text-transform: uppercase;
}

article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
    border-radius: 5px;
}

article figcaption {
    color: grey;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 2em;
}

article video,
article iframe {
  max-width: 100%;
}

.read-more {
    margin: 1em 0;
}

.divider {
    border-top: thin solid var(--hr-color);
    display: block;
    height: 1px;
    border: 0;
    width: 25%;
    margin: 1em auto;
}

.post-summary {
    margin-top: 0.5em;
    display: block;
}

.post-summary > p {
    display: block;
}

#onthisday img,
.post-summary img {
    max-width: 100%;
    display: block;
    height: auto !important;
    margin: 1em auto;
    border-radius: 5px;
}

/* Article tags */

.citacions blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.25em;
}

.citacions blockquote:before {
    display: block;
    font-size: 500%;
    color: #999;
    content: "“";
    height: 1px;
    margin-left: -0.45em;
    position: relative;
    top: -0.33em;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    text-align: center;   
}

.pagination-item {
    background: var(--pagination-bg-color);
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

.pagination-item a {
    color: var(--pagination-link-color);
}

.pagination-item a:hover, 
.pagination-item a:focus {
    color: var(--link-state-color);
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item a:focus {
    border-bottom: 0;
    text-decoration: none;
}

.post-pagination .pagination-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
}

/* Footer */

.common-footer {
    /* border-top: thin solid var(--hr-color); */
    padding-top: 1.5em;
    margin-top: 3em;
    font-size: 16px;
    color: var(--post-info-color);
}

.common-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul.language-select, ul.footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

ul.language-select > li, ul.footer-menu > li {
    margin-right: 1em;
}

.copyright a {
    color: var(--font-color);
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
    color: var(--font-color);
    border-bottom: 0;
    text-decoration: none;
}

.theme-switcher {
    cursor: pointer;
    color: var(--switcher-color);
    background: var(--switcher-bg-color);
    padding: 0.5em 0.5em;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin: 0;
}

/* Media Queries */

@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    header {
        display: block;
    }

    .site-header {
        text-align: center;
    }

/*
    header nav:not(:empty){
        background: var(--pagination-bg-color);
        margin-top: 1em;
        max-width: 100%;
        text-align: center;
        padding: 0.5em 0;
    }

    header nav a:first-of-type {
        margin-left: 0;
    }

    header nav a {
        margin-left: 5%;
    }
*/

    .post-navigation {
        background: var(--pagination-bg-color);
        text-align: center;
        padding: 0.5em 0;
    }

    .post-navigation a {
        margin-left: 0.5em;
    }

    .post-pagination .pagination-item {
        max-width: 10em;
    }
}

