/* Basic */

html {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif; */
    font-family: Georgia, serif;
    /* font-feature-settings: "ss06" on; */
    font-variant-numeric: tabular-nums;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 19px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background-color: var(--bg-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}	

.common-header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  background-color: var(--menu-bg-color);
  color: var(--menu-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  z-index: 10;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  padding: 0 10px;
  z-index: 0;
}

main {
    outline:none;
}

/* Headers */

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--link-state-color);
    /* border-bottom: 1px solid var(--link-state-border-color); */
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

a:active {
    opacity: 0.9;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, 
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}

/* Table */
thead {
    background: var(--thead-bg-color);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}


th, td {
    padding: 0.5em 1em;
    border: 1px double var(--table-border-color);
}

/* Code */
pre {
    color: var(--pre-color);
    background-color: var(--pre-bg-color);
    padding: 1em;
    max-width: 100%;
    overflow: auto;
}

code,
pre,
kbd {
    font-family: "Ubuntu Mono", Monaco, Menlo, monospace;
    font-size: 0.9em;
    color: var(--pre-color);
}

/* Lists */

ul, menu, dir {
	display: block;
	list-style-type: square;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 1.8em;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 1.8em;
}

li { padding-left: 0.2em; }

/* Blockquote */

blockquote {
    margin: 1em 0;
    padding: 0 0 0 2em;
    color: var(--bq-color);
}

blockquote:before {
    display: block;
    font-size: 500%;
    color: var(--bq-bar-color);
    content: "“";
    height: 1px;
    margin-left: -0.45em;
    position: relative;
    top: -0.33em;
    z-index: 1;
}

blockquote blockquote {
    margin: 1em 0;
    border-left: 1px solid var(--bq-bar-color);
    padding: 0 0 0 1em;
    color: var(--bq-color);
}

blockquote blockquote:before {
    display: none;
}

blockquote > p {
    margin: 0.5em 0;
}

blockquote > p:first-of-type {
    margin-top: 0;
}

blockquote > p:last-of-type {
    margin-bottom: 0;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    height: 0;
    margin: 10px 0;
    border-top: 1px solid var(--hr-color);
}

ul ol, ol ol, ul ul {
    margin: 0em 2em;
}



/* Header */

header {
    display: block;
    justify-content: space-between;
}

header img.avatar {
  position: relative;
  top: 5px;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 12px;
}

header a {
    color: var(--font-color);
}

header h1 {
    margin: 1em 0 0;
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

header h2 {
    margin: 0 1em 0 0;
    border-bottom: 1px solid var(--hr-color);
    font-size: 1.1em;
    font-weight: bold;
    text-transform: none;
}

header nav {
    display: block;
    margin: 10px;
    font-size: 14px;
    max-width: 100%;
    text-align: left;
}

header nav a {
    margin-left: 10px;
    text-transform: uppercase;
}

header nav a:first-of-type {
    /* margin-left: 0; */
}

header nav div#quickctrl {
  display: none;
}

header nav div#quicklinks {
  display: inline;
}

@media (max-width: 840px) {

  header nav div#quickctrl {
    display: inline;
  }

  header nav div#quickctrl a#openquicklinks {
    cursor: pointer;
  }  

  header nav div#quickctrl a#openquicklinks svg {
    stroke: var(--font-color);
  }  

  header nav div#quickctrl a#openquicklinks:hover {
    text-decoration: none;
    color: var(--font-color);
  }  

  header nav div#quickctrl a#closequicklinks {
    cursor: pointer;
  }  

  header nav div#quickctrl a#closequicklinks svg {
    stroke: var(--font-color);
  }  

  header nav div#quickctrl a#closequicklinks:hover {
    text-decoration: none;
    color: var(--font-color);
  }  

  header nav div#quicklinks {
    display: none;
  }

  header nav div#quicklinks a {
    display: block;
  }

  header nav div#quicklinks a {
    display: block;
    margin: 0.5em 0;
  }

}

.site-title {
    white-space: nowrap;
}

/* Pages */

h1.blog-title {
  margin: 1em 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 2em;
  font-weight: bold;
  text-transform: none;
  line-height: 1.2em;
  text-align: left;
}

h1.post-title {
  margin: 0 0 1em 0;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: none;
  line-height: 1.2em;
  text-align: left;
}

.post-list h1.post-title {
  font-size: 1em;
}

h2 {
  margin: 1em 0 0;
  font-family: Georgia, serif;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: none;
  line-height: 1.2em;
  text-align: left;
}

h3 {
  margin: 1em 0 0;
  font-family: Georgia, serif;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: none;
  line-height: 1.2em;
  text-align: left;
}

.post-short-list:first-of-type {
    margin-top: 10px;
}

/* Articles */

main article {
  margin: 0;
  background: var(--bg-color);
  border-bottom: 1px solid var(--hr-color);
  padding: 10px 0;
}

article:last-of-type {
  border-bottom: 0;
}

main article.special {
  border: 0;
  padding: 0;
  border-radius: 0;
  background: var(--bg-color);
  border-radius: 0;
}

main article .content {
  margin: 10px 0;
}

/* main article .content {
  position: relative;
  margin: 10px 0 40px;
  background: var(--content-bg-color);
  border: 1px solid var(--content-bg-color);
  border-radius: 10px;
  padding: 20px;
}

main article .content:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 20px;
  width: 0;
  border-width: 25px 20px 0;
  border-style: solid;
  border-color: var(--content-bg-color) transparent;
} */

.post-navigation {
  background: var(--bg-color);
  text-align: left;
  margin-top: 10px;
  max-width: 100%;
  padding: 5px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--post-info-color);
}

.post-navigation ul {
  display: inline;
  margin: 0;
  list-style-type: none;
}

.post-navigation li {
  display: inline;
  margin: 0 10px 0 0;
}

.post-navigation a {
    color: var(--post-info-color);
    margin-right: 10px;
}

.readingtime {

}

.post-navigation a:hover, 
.post-navigation a:focus,
.post-navigation a:active {
    color: var(--link-state-color);
}

article header h1 a {
    color: var(--font-color);
    border: none;
    text-decoration: none;
}

.note {
  margin: 0 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--post-info-color);
}

.note i, .note em {
  font-style: normal;
  font-weight: bold;
}

.special .license {
  display: none;
}

.license {
  margin: -10px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: var(--post-info-color);
  text-transform: uppercase;
}

img.icon {
  display: inline !important;
  margin: 0 0 -5px 0 !important;
  padding: 0;
}

.license img {
  /* display: inline !important;
  margin: 0 !important;
  width: 100px;
  border-radius: 0; */
}

.license p {
  margin: 0 0 10px 0;
}

.license a {
  color: var(--post-info-color);
}

.post-info {
    margin: 0;
    padding: 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: var(--post-info-color);
    text-transform: uppercase;
}

.post-info ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post-info li {
  display: inline;
  margin: 0 10px 0 0;
  padding: 0;
}

.post-info a {
    color: var(--post-info-color);
}

.post-info a:hover {
    color: var(--link-state-color);
}

.post-taxonomies {
    display: inline;
}

.post-date {
    display: inline;
    white-space: nowrap;
}

.post-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.post-categories li {
    display: inline;
    margin-right: 10px;
}

.post-tags {
}

.post-tags li:last-child {
  margin: 0;
}

.reply-by-email {
    margin-left: 10px;
    text-transform: uppercase;
}

article .content img, .index-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
}

article .content img.sn {
    display: none;
    max-width: 32px;
    height: auto;
    margin: 0;
    padding: 0;
}

article .content img.emoji {
  display: block;
  margin: 10px auto;
  width: auto;
  height: 100px;
}

article .content img.drawing {
  display: block;
  margin: 0 auto 20px;
  width: auto;
  height: 200px;
}

article figcaption {
    color: grey;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 2em;
}

article video,
article iframe {
  max-width: 100%;
}

.read-more {
    margin: 10px 0;
}

.divider {
    border-top: thin solid var(--hr-color);
    display: block;
    height: 1px;
    border: 0;
    width: 25%;
    margin: 10px auto;
}

.post-summary {
    margin-top: 5px;
    display: block;
}

.post-summary > p {
    display: block;
}

/* Article tags */

.citacions blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1em; /* font-size: 21px; */
}

.post-list .citacions blockquote {
  font-size: 1em;
}

.citacions blockquote:before {
    display: block;
    font-size: 500%;
    color: #999;
    content: "“";
    height: 1px;
    margin-left: -0.45em;
    position: relative;
    top: -0.33em;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    margin-top: 3em;
    text-align: center;   
    font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;    justify-content: space-between;
    font-size: 14px;
}

.pagination-item {
    background: var(--pagination-bg-color);
    padding: 5px;
    border-radius: 5px;
}

.pagination-item a {
    color: var(--pagination-link-color);
}

.pagination-item a:hover, 
.pagination-item a:focus {
    color: var(--link-state-color);
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item a:focus {
    border-bottom: 0;
    text-decoration: none;
}

.post-pagination .pagination-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
}

/* Footer */

.common-footer {
    /* border-top: thin solid var(--hr-color); */
    margin-top: 3em;
    padding-top: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', Ubuntu, "Microsoft Sans Serif", "Segoe UI", Ubuntu, Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: var(--font-color);
}

.common-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul.language-select, ul.footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

ul.language-select > li, ul.footer-menu > li {
    margin-right: 1em;
}

.copyright a {
    color: var(--font-color);
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
    color: var(--font-color);
    border-bottom: 0;
    text-decoration: none;
}

a.theme-switcher {
    position: relative;
    bottom: 1px;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 3px;
    border: 0;
    border-radius: 3px;
  background: var(--switcher-bg-color);
  color: var(--switcher-color);
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

a.theme-switcher:hover {
  color: var(--switcher-color);
  text-decoration: none;
}

/* Media Queries */

@media screen and (max-width: 480px) {
}

@media (max-width: 840px) {
    .container {
        max-width: 90%;
        margin: 80px auto;
    }
}
