#RedirectMatch ^/$ /blog/

ErrorDocument 401 /401.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^about$ info [L]
RewriteRule ^tmp/list$ tmp/tmp.php?op=list [L]
RewriteRule ^tmp/([0-9a-z]+)$ tmp/tmp.php?tmpid=$1 [L]
RewriteRule ^wilbur/([0-9]+)$ https://apps.carlesbellver.net/humus/humus.php?web=$1 [L]
RewriteRule ^bookmark/([0-9]+)$ https://apps.carlesbellver.net/humus/bm.php?b=$1 [L]
RewriteRule ^2/([0-9A-Za-z\.-]+)$ https://apps.carlesbellver.net/shrtn/shrtn.php?u=$1 [L]
RewriteRule ^_([0-9A-Za-z\.-]+)$ https://apps.carlesbellver.net/shrtn/shrtn.php?u=$1 [L]
RewriteRule ^([0-9]+)/(.+)$ https://carlesbellver.net/blog/$1/$2 [L,R=301]
</IfModule>

#RedirectMatch ^/blog/?$ http://blog.carlesbellver.net
RedirectMatch ^/blog/llibres/?$ http://carlesbellver.net/llibres/
RedirectMatch ^/blog/experiments/?$ http://carlesbellver.net/experiments/
#RedirectMatch ^/blog/.+$ http://blog.carlesbellver.net

Redirect /contes/unahistoriasubterrania.html https://carlesbellver.net/tmp/32ec15b3dede
Redirect 301 /feed.xml http://blog.carlesbellver.net/feed.xml
Redirect 301 /feed/ http://blog.carlesbellver.net/feed.xml
Redirect 301 /feed http://blog.carlesbellver.net/feed.xml
Redirect 301 /rss/ http://blog.carlesbellver.net/feed.xml
Redirect 301 /rss http://blog.carlesbellver.net/feed.xml
#Redirect 301 /feed.xml http://www.carlesbellver.net/blog/feed/?cat=-6
#Redirect 301 /feed/ http://www.carlesbellver.net/blog/feed/?cat=-6
#Redirect 301 /feed http://www.carlesbellver.net/blog/feed/?cat=-6
#Redirect 301 /rss/ http://www.carlesbellver.net/blog/feed/?cat=-6
#Redirect 301 /rss http://www.carlesbellver.net/blog/feed/?cat=-6

#Redirect /CPE http://carlesbellver.net/cpe
#Redirect 301 /work/wilbur.html http://www.carlesbellver.net/blog/2010/12/13/wilbur/
#Redirect 301 /pages/lhdc.html http://www.carlesbellver.net/blog/2011/04/23/lhdc/
#
#Redirect 301 /2017/06/07/ghost-flea.html http://www.carlesbellver.net/blog/2017/06/06/william-blake-the-ghost-of-a-flea/
#Redirect 301 /2017/06/04/man-high-castle.html http://www.carlesbellver.net/blog/2017/06/03/despres-de-llegir-lhome-en-el-castell/
#Redirect 301 /2017/05/26/filologia-etrusca.html http://www.carlesbellver.net/blog/2017/05/25/resum-rapid-del-llibre-blanc-de-la-ceoe-sobre-leducacio/
#Redirect 301 /2017/05/24/digital-big-brother.html http://www.carlesbellver.net/blog/2017/05/23/el-big-brother-digital/
#Redirect 301 /2017/05/20/ritus.html http://www.carlesbellver.net/blog/2017/05/19/solemnitats/
#Redirect 301 /2017/04/13/fine-operis.html http://www.carlesbellver.net/blog/2017/04/12/la-meva-proxima-obreta-podria-comencar-aixi/
#Redirect 301 /2017/04/01/abrilada.html http://www.carlesbellver.net/blog/2017/03/31/abrilada/
#Redirect 301 /2017/03/29/alfabet-terminal.html http://www.carlesbellver.net/blog/2017/03/28/lautonomia-absoluta-del-text/
#Redirect 301 /2017/03/15/spritzer.html http://www.carlesbellver.net/blog/2017/03/14/spritzer/
#Redirect 301 /2017/03/10/weber.html http://www.carlesbellver.net/blog/2017/03/09/weber/
#Redirect 301 /2017/03/08/anna-betty-clara.html http://www.carlesbellver.net/blog/2017/03/07/anna-betty-i-clara/
#Redirect 301 /2017/03/02/wittgenstein-visio-moderna-mon.html http://www.carlesbellver.net/blog/2017/03/01/wittgenstein-la-visio-moderna-del-mon/
#Redirect 301 /2017/03/01/brecha-digital.html http://www.carlesbellver.net/blog/2017/02/28/la-verdadera-brecha-digital-esta-en-el-tipo-de-uso/
#Redirect 301 /2017/03/01/estadistica.html http://www.carlesbellver.net/blog/2017/02/28/estadistica/
#Redirect 301 /2017/01/18/escriure-internet.html http://www.carlesbellver.net/blog/2017/01/17/escriure-internet/
#Redirect 301 /2017/01/18/sea-monkeys-phone.html http://www.carlesbellver.net/blog/2017/01/17/the-dream-of-ara-inside-the-rise-and-fall-of-the-worlds-most-revolutionary-phone/
#Redirect 301 /2017/01/15/teamwork.html http://www.carlesbellver.net/blog/2017/01/14/a-common-case-of-team-work/
#Redirect 301 /2017/01/06/john-berger-hope.html http://www.carlesbellver.net/blog/2017/01/05/john-berger-lesperanca/
#Redirect 301 /2016/12/24/dimoni-practiques.html http://www.carlesbellver.net/blog/2016/12/23/un-dimoni-en-practiques/
#Redirect 301 /2016/12/13/llegendes-jacques-bergier.html http://www.carlesbellver.net/blog/2016/12/12/les-llegendes-de-jacques-bergier/
#Redirect 301 /2016/11/13/conte-xines.html http://www.carlesbellver.net/blog/2016/11/12/un-altre-conte-xines/
#Redirect 301 /2016/10/13/dylan-cohen.html http://www.carlesbellver.net/blog/2016/10/12/dylan-cohen/
#Redirect 301 /2016/09/25/sexe-genere-llengua.html http://www.carlesbellver.net/blog/2016/09/24/sexe-i-genere-en-el-llenguatge/
#Redirect 301 /2016/08/23/declassified-documents-ufo-sightings.html http://www.carlesbellver.net/blog/2016/08/22/the-cia-puts-hundreds-of-declassified-documents-about-ufo-sightings-online-plus-10-tips-for-investigating-flying-saucers/
#Redirect 301 /2016/08/20/colometa-noia-beneita.html http://www.carlesbellver.net/blog/2016/08/19/era-la-colometa-una-beneita/
#Redirect 301 /2016/08/20/your-next-seafood-dinner.html http://www.carlesbellver.net/blog/2016/08/19/your-next-seafood-dinner-might-come-with-a-qr-code/
#Redirect 301 /2016/06/24/peanut-underground.html http://www.carlesbellver.net/blog/2016/06/23/the-peanut-underground/
#Redirect 301 /2016/05/19/ebook-prohibit.html http://www.carlesbellver.net/blog/2016/05/18/ebook-prohibit/
#Redirect 301 /2016/04/17/anit-vaig-somniar-el-tigre.html http://www.carlesbellver.net/blog/2016/04/16/anit-vaig-somniar-el-tigre/
#Redirect 301 /2016/03/13/maria-folch-basarda.html http://www.carlesbellver.net/blog/2016/03/12/el-somni-atribuit-a-una-escriptora-maria-folch-i-la-basarda-del-general/
#Redirect 301 /2016/03/12/lord-acton-testosterona.html http://www.carlesbellver.net/blog/2016/03/11/lord-acton-en-el-laboratori-poder-corrupcio-i-testosterona/
#Redirect 301 /2016/03/11/nelson-goodman-naturalesa-art.html http://www.carlesbellver.net/blog/2016/03/10/que-la-naturalesa-imita-lart-es-un-proverbi-massa-timid/
#Redirect 301 /2016/03/08/canviant-llengua-canvien-mon.html http://www.carlesbellver.net/blog/2016/03/07/canviant-llengua-canvien-mon/
#Redirect 301 /2016/02/07/mes-breu-dinosaure.html http://www.carlesbellver.net/blog/2016/02/06/mes-breu-que-el-del-dinosaure/
#Redirect 301 /2016/02/05/diners-fem.html http://www.carlesbellver.net/blog/2016/02/04/els-diners-son-com-el-fem/
#Redirect 301 /2016/02/05/somnis-inspiracio.html http://www.carlesbellver.net/blog/2016/02/04/somnis-inspiracio/
#Redirect 301 /2016/02/02/aprendizaje-online-encrucijada.html http://www.carlesbellver.net/blog/2016/02/01/el-aprendizaje-en-linea-en-la-encrucijada-automatizacion-o-empoderamiento-tony-bates/
#Redirect 301 /2016/01/30/lavorare-stanca.html http://www.carlesbellver.net/blog/2016/01/29/lexcusa-es-la-manca-de-temps/
#Redirect 301 /2016/01/27/apocalipsi-valencia.html http://www.carlesbellver.net/blog/2016/01/26/per-al%c2%b7lusions-lapocalipsi-i-valencia/
#Redirect 301 /2016/01/25/un-cel-nou-i-una-terra-nova-i-set-somnis.html http://www.carlesbellver.net/blog/2016/01/24/un-cel-nou-i-una-terra-nova-i-set-somnis-etc-segons-maria-folch/
#Redirect 301 /2016/01/24/materia-bretanya.html http://www.carlesbellver.net/blog/2016/01/23/materia-de-bretanya/
#Redirect 301 /2016/01/17/rellegir-conrad.html http://www.carlesbellver.net/blog/2016/01/16/rellegir-conrad/
#Redirect 301 /2016/01/09/model-governs-funcions.html http://www.carlesbellver.net/blog/2016/01/08/model-governs-funcions/
#Redirect 301 /2015/12/28/baudelaire-premsa-blogs.html http://www.carlesbellver.net/blog/2015/12/27/baudelaire-contra-la-premsa-i-amb-els-blogs/
#Redirect 301 /2015/11/24/vigila-quines-histories.html http://www.carlesbellver.net/blog/2015/11/23/vigila-quines-histories-et-contes/
#Redirect 301 /2015/11/19/sentit-plenament-cortazaria.html http://www.carlesbellver.net/blog/2015/11/18/en-un-sentit-plenament-cortazaria/
#Redirect 301 /2015/11/11/xiquet-malcriat.html http://www.carlesbellver.net/blog/2015/11/10/xiquet-malcriat/
#Redirect 301 /2015/10/21/realisme-discapacitat.html http://www.carlesbellver.net/blog/2015/10/20/realisme-discapacitat/
#Redirect 301 /2015/10/08/emoji-ginjol.html http://www.carlesbellver.net/blog/2015/10/07/emoji-ginjol/
#Redirect 301 /2015/10/07/algoritme-fi-mon.html http://www.carlesbellver.net/blog/2015/10/06/algoritme-fi-mon/
#Redirect 301 /2015/09/17/ciberespai.html http://www.carlesbellver.net/blog/2015/09/16/de-la-revelacio-la-definicio-i-la-independencia-del-ciberespai/
#Redirect 301 /2015/09/11/sumatori-son.html http://www.carlesbellver.net/blog/2015/09/10/sumatori-son/
#Redirect 301 /2015/08/25/silence-delirium-lies.html http://www.carlesbellver.net/blog/2015/08/24/silence-delirium-lies/
#Redirect 301 /2015/08/20/lovecraft-guia-lectura.html http://www.carlesbellver.net/blog/2015/08/19/lovecraft-guia-lectura/
#Redirect 301 /2015/07/24/per-a-plat-cada-individu-s-un-tripartit-per-a.html http://www.carlesbellver.net/blog/2015/07/23/per-a-plat-cada-individu-s-un-tripartit-per-a/
#Redirect 301 /2015/07/17/teologia-ateisme.html http://www.carlesbellver.net/blog/2015/07/16/teologia-ateisme/
#Redirect 301 /2015/06/26/emocio-primera-lectura.html http://www.carlesbellver.net/blog/2015/06/25/emocio-primera-lectura/
#Redirect 301 /2015/06/13/anticanibalista.html http://www.carlesbellver.net/blog/2015/06/12/jo-tambe-soc-anticanibalista/
#Redirect 301 /2015/06/11/beards-over.html http://www.carlesbellver.net/blog/2015/06/10/sorry-guys-beards-are-over/
#Redirect 301 /2015/06/09/guerra-universidades-copy-paste.html http://www.carlesbellver.net/blog/2015/06/08/la-guerra-de-las-universidades-contra-el-copy-paste/
#Redirect 301 /2015/06/01/contar-marx.html http://www.carlesbellver.net/blog/2015/05/31/contar-marx-a-los-ninos/
#Redirect 301 /2015/05/25/guanyar-eternament.html http://www.carlesbellver.net/blog/2015/05/24/no-poden-guanyar-eternament/
#Redirect 301 /2015/05/22/diumenge.html http://www.carlesbellver.net/blog/2015/05/21/diumenge/
#Redirect 301 /2015/05/16/geocentristes.html http://www.carlesbellver.net/blog/2015/05/15/geocentristes/
#Redirect 301 /2015/04/25/not-being-stupid.html http://www.carlesbellver.net/blog/2015/04/24/a-five-step-guide-to-not-being-stupid/
#Redirect 301 /2015/04/17/paorosa-anticipacio.html http://www.carlesbellver.net/blog/2015/04/16/paorosa-anticipacio/
#Redirect 301 /2015/04/16/ali-baba.html http://www.carlesbellver.net/blog/2015/04/15/ali-baba/
#Redirect 301 /2015/04/15/vida-misteriosa.html http://www.carlesbellver.net/blog/2015/04/14/asi-era-de-misteriosa-mi-vida/
#Redirect 301 /2015/04/12/spiegel-interview-slavoj-zizek.html http://www.carlesbellver.net/blog/2015/04/11/spiegel-interview-with-slavoj-zizek-the-greatest-threat-to-europe-is-its-inertia/
#Redirect 301 /2015/04/11/precisions-emoji.html http://www.carlesbellver.net/blog/2015/04/10/un-parell-de-precisions-sobre-els-emoji/
#Redirect 301 /2015/04/09/sir-ken-robinson.html http://www.carlesbellver.net/blog/2015/04/08/sir-ken-robinson-creative-with-the-truth/
#Redirect 301 /2015/04/01/dia-llibre.html http://www.carlesbellver.net/blog/2015/03/31/dia-llibre/
#Redirect 301 /2015/03/24/nocebo-placebo.html http://www.carlesbellver.net/blog/2015/03/23/the-contagious-thought-that-could-kill-you/
#Redirect 301 /2015/03/22/9-truths-computer-programmers-know.html http://www.carlesbellver.net/blog/2015/03/21/9-truths-that-computer-programmers-know-that-most-people-dont/
#Redirect 301 /2015/03/19/mundo-coproanalisis.html http://www.carlesbellver.net/blog/2015/03/18/si-el-mundo-quiere-ver-como-esta-su-salud-que-se-haga-un-coproanalisis/
#Redirect 301 /2015/03/08/greatest-program.html http://www.carlesbellver.net/blog/2015/03/07/the-greatest-program-ever-written/
#Redirect 301 /2015/03/08/heroe-mujeres-hombres.html http://www.carlesbellver.net/blog/2015/03/07/el-heroe-de-las-mujeres-y-el-de-las-peliculas/
#Redirect 301 /2015/03/05/entrevista-lydia-davis.html http://www.carlesbellver.net/blog/2015/03/04/lydia-davis-realmente-la-novela-es-un-cuento-largo/
#Redirect 301 /2015/03/05/fecal-time-bomb.html http://www.carlesbellver.net/blog/2015/03/04/decades-of-human-waste-have-made-mount-everest-a-fecal-time-bomb/
#Redirect 301 /2015/03/04/consolacio-literatura.html http://www.carlesbellver.net/blog/2015/03/03/com-mor-un-hom-quan-es-privat-de-la-consolacio-de-la-literatura/
#Redirect 301 /2015/02/11/etern-retorn-enzes.html http://www.carlesbellver.net/blog/2015/02/10/etern-retorn-enzes/
#Redirect 301 /2015/01/23/parlar-sense-entendre.html http://www.carlesbellver.net/blog/2015/01/22/parlar-sense-entendre/
#Redirect 301 /2015/01/17/ciencia-tecnica-religio.html http://www.carlesbellver.net/blog/2015/01/16/ciencia-i-tecnica-com-a-religio/
#Redirect 301 /2015/01/07/control-horari.html http://www.carlesbellver.net/blog/2015/01/06/control-horari/
#Redirect 301 /2014/12/26/guy-standing.html http://www.carlesbellver.net/blog/2014/12/25/la-desmercantilizacion-de-la-educacion/
#Redirect 301 /2014/12/19/despres-venen-els-anys.html http://www.carlesbellver.net/blog/2014/12/18/despres-venen-els-anys-de-maria-folch-a-castello/
#Redirect 301 /2014/11/20/fa-trenta-nou-anys.html http://www.carlesbellver.net/blog/2014/11/19/fa-trenta-nou-anys/
#Redirect 301 /2014/11/19/numerologia.html http://www.carlesbellver.net/blog/2014/11/18/numerologia/
#Redirect 301 /2014/11/11/ebola-paris.html http://www.carlesbellver.net/blog/2014/11/10/si-un-de-nosaltres-agafa-lebola-jo-me-nanire-a-paris/
#Redirect 301 /2014/09/22/invasion-borges-bioy.html http://www.carlesbellver.net/blog/2014/09/21/un-objeto-estetico-perfecto/
#Redirect 301 /2014/09/22/men-never-remember-anything.html http://www.carlesbellver.net/blog/2014/09/21/why-women-have-more-childhood-memories-than-men/
#Redirect 301 /2014/09/14/nietzsche-sloterdijk.html http://www.carlesbellver.net/blog/2014/09/13/nietzsche-escandalo-para-democratas-y-disparate-para-los-catedraticos/
#Redirect 301 /2014/09/11/perucho-medium.html http://www.carlesbellver.net/blog/2014/09/10/un-dia-clar-al-cor-de-pedra-de-la-nit/
#Redirect 301 /2014/09/05/valor-merda.html http://www.carlesbellver.net/blog/2014/09/04/el-valor-comparat-de-la-merda/
#Redirect 301 /2014/08/28/mar-muntanya-nit-mil-dos.html http://www.carlesbellver.net/blog/2014/08/27/lectures-de-mar-i-muntanya-la-nit-mil-dos/
#Redirect 301 /2014/08/25/cortazar-forastero.html http://www.carlesbellver.net/blog/2014/08/24/cortazar-forastero-2/
#Redirect 301 /2014/08/25/cortzar-adolescencia.html http://www.carlesbellver.net/blog/2014/08/24/cortazar-forastero/
#Redirect 301 /2014/08/24/mes-escriptors-que-lectors.html http://www.carlesbellver.net/blog/2014/08/23/de-debo-hi-ha-mes-escriptors-que-lectors/
#Redirect 301 /2014/05/30/bug-or-feature.html http://www.carlesbellver.net/blog/2014/05/29/the-internet-with-a-human-face/
#Redirect 301 /2014/05/27/nitidesa.html http://www.carlesbellver.net/blog/2014/05/26/la-nitidesa-es-un-concepte-burges/
#Redirect 301 /2014/05/26/10-universities-future.html http://www.carlesbellver.net/blog/2014/05/25/a-future-with-only-10-universities/
#Redirect 301 /2014/05/23/john-cheever-evening.html http://www.carlesbellver.net/blog/2014/05/22/era-un-daquests-vespres-esplendids-de-primavera/
#Redirect 301 /2014/05/17/nothing.html http://www.carlesbellver.net/blog/2014/05/16/much-ado-about-nothing/
#Redirect 301 /2014/05/07/asil.html http://www.carlesbellver.net/blog/2014/05/06/pensava-demanar-hi-asil/
#Redirect 301 /2014/05/04/quartet-alexandria.html http://www.carlesbellver.net/blog/2014/05/03/del-conte-de-fades-i-de-la-novel%c2%b7la/
#Redirect 301 /2014/03/30/anar-al-metge.html http://www.carlesbellver.net/blog/2014/03/29/no-es-pot-anar-al-metge/
#Redirect 301 /2014/03/25/bang-on-the-ear.html http://www.carlesbellver.net/blog/2014/03/24/i-un-bes-a-la-galta/
#Redirect 301 /2014/03/14/cortazar-juego.html http://www.carlesbellver.net/blog/2014/03/13/julio-cortazar-jugabamos-en-serio/
#Redirect 301 /2014/03/13/temps.html http://www.carlesbellver.net/blog/2014/03/12/dos-de-tres-o-la-maquina-del-temps/
#Redirect 301 /2014/02/25/emperador-norton.html http://www.carlesbellver.net/blog/2014/02/24/lemperador-norton-i-la-dinastia-imperial-damerica/
#Redirect 301 /2014/02/23/sunday-morning.html http://www.carlesbellver.net/blog/2014/02/22/sunday-morning/
#Redirect 301 /2014/02/15/dues-cultures.html http://www.carlesbellver.net/blog/2014/02/14/les-dues-cultures/
#Redirect 301 /2014/02/14/cortazar-ojos-cansados.html http://www.carlesbellver.net/blog/2014/02/13/els-ulls-cansats-de-julio-cortazar/
#Redirect 301 /2014/02/13/francine-du-plessix-gray.html http://www.carlesbellver.net/blog/2014/02/12/la-prosa-nomes-es-bona-en-la-mesura-en-que-sapropa-a-la-poesia/
#Redirect 301 /2014/02/10/magies-quotidianes.html http://www.carlesbellver.net/blog/2014/02/09/magies-quotidianes/
#Redirect 301 /2014/02/09/frederick-brooks-bugs.html http://www.carlesbellver.net/blog/2014/02/08/because-our-ideas-are-faulty-we-have-bugs/
#Redirect 301 /2014/02/09/hugo-gernsback-isolator.html http://www.carlesbellver.net/blog/2014/02/08/distraction-free-writing/
#Redirect 301 /2014/02/03/gates-seegers.html http://www.carlesbellver.net/blog/2014/02/02/future-wasnt-created-by-the-bill-gates-of-the-world/
#Redirect 301 /2014/01/23/zappa.html http://www.carlesbellver.net/blog/2014/01/22/if-you-want-to-get-laid-go-to-college-frank-zappa/
#Redirect 301 /2014/01/22/qualitat.html http://www.carlesbellver.net/blog/2014/01/21/gestionar-la-qualitat/
#Redirect 301 /2014/01/20/entrevista-gerent-mit.html http://www.carlesbellver.net/blog/2014/01/19/entrevista-amb-un-gerent/
#Redirect 301 /2014/01/09/montaigne-blogging.html http://www.carlesbellver.net/blog/2014/01/08/michel-de-montaigne-writing-about-oneself-to-create-a-mirror-for-other-people/
#Redirect 301 /2014/01/07/dave-winer-bloggers.html http://www.carlesbellver.net/blog/2014/01/06/i-thought-everyone-would-be-a-blogger/
#Redirect 301 /2013/12/24/visites-reials.html http://www.carlesbellver.net/blog/2013/12/23/quan-venien-els-reis-a-castello/
#Redirect 301 /2013/12/19/tension.html http://www.carlesbellver.net/blog/2013/12/18/tension-de-muerte/
#Redirect 301 /2013/12/08/angel.html http://www.carlesbellver.net/blog/2013/12/07/definicio-dangel/
#Redirect 301 /2013/12/08/fantasia-conill.html http://www.carlesbellver.net/blog/2013/12/07/la-inversemblanca-de-la-vida/
#Redirect 301 /2013/12/02/rectificacio.html http://www.carlesbellver.net/blog/2013/12/01/desmentiment-de-charles-beauvoir/
#Redirect 301 /2013/12/01/charles-beauvoir.html http://www.carlesbellver.net/blog/2013/11/30/qui-es-charles-beauvoir/
#Redirect 301 /2013/11/24/french-martians.html http://www.carlesbellver.net/blog/2013/11/23/the-french-and-the-martians/
#Redirect 301 /2013/11/24/ovni-desert.html http://www.carlesbellver.net/blog/2013/11/23/lovni-al-damunt-del-desert-de-les-palmes/
#Redirect 301 /2013/11/24/vista-cansada.html http://www.carlesbellver.net/blog/2013/11/23/la-vista-cansada/
#Redirect 301 /2013/11/19/paio-pirat-word.html http://www.carlesbellver.net/blog/2013/11/18/el-paio-pirat-del-word/
#Redirect 301 /2013/11/13/lego-world-william-burroughs.html http://www.carlesbellver.net/blog/2013/11/12/the-lego-world-of-william-s-burroughs/
#Redirect 301 /2013/10/31/comedia-desdoblar.html http://www.carlesbellver.net/blog/2013/10/30/que-sacabi-aquesta-comedia-de-desdoblar-en-masculi-i-femeni/
#Redirect 301 /2013/09/30/art-artists.html http://www.carlesbellver.net/blog/2013/09/29/there-is-art-and-there-are-artists/
#Redirect 301 /2013/09/10/love-early-christians.html http://www.carlesbellver.net/blog/2013/09/09/band-of-angels-the-forgotten-world-of-early-christian-women-by-kate-cooper-review/
#Redirect 301 /2013/07/30/natalie-merchant-proletariat.html http://www.carlesbellver.net/blog/2013/07/29/natalie-merchant-we-called-the-music-we-made-proletariat/
#Redirect 301 /2013/07/23/generaciones-mentales.html http://www.carlesbellver.net/blog/2013/07/22/las-generaciones-mentales-cortazar-vs-vargas-llosa/
#Redirect 301 /2013/07/17/coses-diferents.html http://www.carlesbellver.net/blog/2013/07/16/coses-diferents/
#Redirect 301 /2013/06/30/blog-definition-dave-winer.html http://www.carlesbellver.net/blog/2013/06/29/blog-definition-by-dave-winer/
#Redirect 301 /2013/06/23/android-ios.html http://www.carlesbellver.net/blog/2013/06/22/la-diferencia-entre-android-i-ios/
#Redirect 301 /2013/06/13/leibniz-pourquoi.html http://www.carlesbellver.net/blog/2013/06/12/pourquoi-il-y-a-plutot-quelque-chose-que-rien/
#Redirect 301 /2013/06/07/surrealism-little-heart.html http://www.carlesbellver.net/blog/2013/06/06/keep-surrealism-in-your-little-heart/
#Redirect 301 /2013/06/02/against-professionalism.html http://www.carlesbellver.net/blog/2013/06/01/against-professionalism/
#Redirect 301 /2013/05/27/dessecament.html http://www.carlesbellver.net/blog/2013/05/26/dessecacio/
#Redirect 301 /2013/05/12/persistence-desire.html http://www.carlesbellver.net/blog/2013/05/11/the-persistence-of-desire/
#Redirect 301 /2013/04/26/internet-telefon-impremta.html http://www.carlesbellver.net/blog/2013/04/25/internet-es-com-el-telefon-no-com-la-impremta/
#Redirect 301 /2013/04/14/john-irving-hemingway.html http://www.carlesbellver.net/blog/2013/04/13/un-escriptor-mascle-sobrevalorat/
#Redirect 301 /2013/03/24/silence-delirium-lies.html http://www.carlesbellver.net/blog/2013/03/23/silence-delirium-lies-2/
#Redirect 301 /2013/03/20/cul-international.html http://www.carlesbellver.net/blog/2013/03/19/mon-cul-lui-est-international/
#Redirect 301 /2013/03/17/universalidad-paulina.html http://www.carlesbellver.net/blog/2013/03/16/la-universalidad-paulina-es-una-forma-de-lucha/
#Redirect 301 /2013/03/10/ted.html http://www.carlesbellver.net/blog/2013/03/09/la-tecno-maconeria-del-ted/
#Redirect 301 /2013/02/12/tigre.html http://www.carlesbellver.net/blog/2013/02/11/el-tigre-escapat-a-castello-era-napolita/
#Redirect 301 /2013/02/07/metrica.html http://www.carlesbellver.net/blog/2013/02/06/una-questio-de-metrica/
#Redirect 301 /2013/02/01/client-producte.html http://www.carlesbellver.net/blog/2013/01/31/im-not-the-product-but-i-play-one-on-the-internet/
#Redirect 301 /2013/02/01/hotel-mosca.html http://www.carlesbellver.net/blog/2013/01/31/hotel-amb-mosca/
#Redirect 301 /2013/01/30/notes-compra-ebook.html http://www.carlesbellver.net/blog/2013/01/29/notes-per-a-la-compra-dun-ebook/
#Redirect 301 /2013/01/28/isolation-not-permanent.html http://www.carlesbellver.net/blog/2013/01/27/our-isolation-is-not-permanent/
#Redirect 301 /2013/01/15/elmore-leonard-rule-7.html http://www.carlesbellver.net/blog/2013/01/14/use-regional-dialect-patois-sparingly/
#Redirect 301 /2012/12/20/perfect-storm-universities.html http://www.carlesbellver.net/blog/2012/12/19/the-perfect-storm-for-universities/
#Redirect 301 /2012/12/19/futur-imprevisible.html http://www.carlesbellver.net/blog/2012/12/18/el-futur-es-imprevisible/
#Redirect 301 /2012/11/12/fin-crueldad.html http://www.carlesbellver.net/blog/2012/11/11/hacia-el-fin-de-la-crueldad/
#Redirect 301 /2012/10/31/halloween.html http://www.carlesbellver.net/blog/2012/10/30/halloween/
#Redirect 301 /2012/10/30/etimologia-ressaca.html http://www.carlesbellver.net/blog/2012/10/29/la-tradicio-naval-britanica-i-letimologia-de-la-ressaca/
#Redirect 301 /2012/10/18/ja-no-tot.html http://www.carlesbellver.net/blog/2012/10/17/ja-no-tot/
#Redirect 301 /2012/09/16/ridley-scott-teosofic.html http://www.carlesbellver.net/blog/2012/09/15/ridley-scott-es-posa-teosofic/
#Redirect 301 /2011/06/08/amateurisme.html http://www.carlesbellver.net/blog/2011/06/07/reivindicacio-de-lamateurisme/
#Redirect 301 /2011/05/17/faltes-teilhard.html http://www.carlesbellver.net/blog/2011/05/16/les-faltes-de-teilhard/
#Redirect 301 /2011/01/23/auster-matute.html http://www.carlesbellver.net/blog/2011/01/22/pensament-masculi-pensament-femeni/
#Redirect 301 /2009/08/25/condensation-onirique.html http://www.carlesbellver.net/blog/2009/08/24/estructures-de-condensacio-onirica/
#Redirect 301 /2009/04/15/estalinistes.html http://www.carlesbellver.net/blog/2009/04/14/estalinistes/
#Redirect 301 /2008/08/22/ghost-wilkie.html http://www.carlesbellver.net/blog/2008/08/21/ghost-wilkie/
#Redirect 301 /2007/10/23/tots-sants.html http://www.carlesbellver.net/blog/2007/10/22/per-tots-sants-potser/
#Redirect 301 /2007/09/15/pressa.html http://www.carlesbellver.net/blog/2007/09/14/lesperit-modern-de-la-pressa/
#Redirect 301 /2007/01/10/tramvia.html http://www.carlesbellver.net/blog/2007/01/09/lidil%c2%b7li-del-tramvia/
#Redirect 301 /2006/12/16/cocodril.html http://www.carlesbellver.net/blog/2006/12/15/la-confabulacio-del-cocodril/
#Redirect 301 /2006/11/21/besnet-terrorista.html http://www.carlesbellver.net/blog/2006/11/20/besnet-dun-terrorista/
#Redirect 301 /2006/08/23/pets.html http://www.carlesbellver.net/blog/2006/08/22/pneumatica/
#Redirect 301 /2006/07/19/chatellerault.html http://www.carlesbellver.net/blog/2006/07/18/agermanats-pel-totxo-i-la-pala/
#Redirect 301 /2006/07/06/dimarts-lobsang.html http://www.carlesbellver.net/blog/2006/07/05/dimarts-lobsang/
#Redirect 301 /2006/07/06/xiclets-santa-anna.html http://www.carlesbellver.net/blog/2006/07/05/xiclets-santa-anna/
#Redirect 301 /2006/05/23/drummond-jonson.html http://www.carlesbellver.net/blog/2006/05/22/facecies-i-apotegmes/
#Redirect 301 /2006/05/18/mala-memoria.html http://www.carlesbellver.net/blog/2006/05/17/la-mala-memoria/
#Redirect 301 /2006/04/26/tigre.html http://www.carlesbellver.net/blog/2006/04/25/el-tigre-el-fantastic-i-la-multiplicitat-de-lectures/
#Redirect 301 /2006/02/07/temps.html http://www.carlesbellver.net/blog/2006/02/06/el-temps-no-em-condeix/
#Redirect 301 /2005/10/12/calatrava.html http://www.carlesbellver.net/blog/2005/10/11/deu-abandona-calatrava/
#Redirect 301 /2005/09/12/simple-minds.html http://www.carlesbellver.net/blog/2005/09/11/cal%c2%b7ligrafies-vs-tipografies-simple-minds/
#Redirect 301 /2005/08/21/asma.html http://www.carlesbellver.net/blog/2005/08/20/lasma-com-a-malediccio/
#Redirect 301 /2005/06/09/sant-cugat.html http://www.carlesbellver.net/blog/2005/06/08/impressions-de-sant-cugat/
#Redirect 301 /2004/06/29/darrers-moments-primo-levi.html http://www.carlesbellver.net/blog/2004/06/28/els-darrers-moments-de-primo-levi/
#Redirect 301 /2004/05/26/construccio.html http://www.carlesbellver.net/blog/2004/05/25/el-mon-de-la-construccio/
#Redirect 301 /2004/05/23/caragol.html http://www.carlesbellver.net/blog/2004/05/22/el-caragol/
#Redirect 301 /2004/02/23/automatica.html http://www.carlesbellver.net/blog/2004/02/22/lautomatica/
#Redirect 301 /2004/02/18/pinsos.html http://www.carlesbellver.net/blog/2004/02/17/la-qualitat-dels-pinsos/
#Redirect 301 /2003/12/05/artist-narcotics.html http://www.carlesbellver.net/blog/2003/12/04/sorted-for-ease-of-scribbling/
#Redirect 301 /2003/10/03/escletxa.html http://www.carlesbellver.net/blog/2003/10/02/lhome-esventat-o-una-escletxa-en-el-temps/
#Redirect 301 /2003/09/11/bombes-bombarder.html http://www.carlesbellver.net/blog/2003/09/10/les-bombes-i-el-bombarder/
#Redirect 301 /2003/02/01/finestra-william-blake.html http://www.carlesbellver.net/blog/2003/01/31/la-finestra-de-william-blake/
#Redirect 301 /2002/09/30/mira-miracle-morella.html http://www.carlesbellver.net/blog/2002/09/29/joan-francesc-mira-sant-vicent-i-el-miracle-de-morella/
