--font-color: #eee;
--bg-color: #111;
--content-bg-color: #111; /* #191919; */

--note-bg-color: #333;

--comments-bg-color: #333;

--foot-color: #ccc;

--menu-color: #eee;
--menu-bg-color: #111;

--link-color: #ff3333;
--link-state-color: #ff3333;

--thead-bg-color: #343a40;
--table-border-color: lightgrey;

--pre-color: #333;
--pre-bg-color: #f1f1f1;

--bq-bar-color: #ccc;
--bq-color: #ccc;
--bq-bg-color: #333;

--hr-color: #333;

--pagination-bg-color: #191919;
--pagination-link-color: #b6b6b6;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;
