{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
    {{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}

{{ if and .Params.date (eq .Parent.Name "Posts") }}
<ul class="post-info">
    {{ if and .Params.date (eq .Parent.Name "Posts") }}
      <li><img class="icon" src="{{ site.BaseURL }}/svg.icons/calendar.svg" alt="calendari" /> <a class="u-url" href="{{ .RelPermalink }}"><span class="post-date dt-published">{{ .Params.date.Format $dateFormat }}</span></a></li>
    {{ end }}
    {{ if .Params.tags }}
      {{ range $tag := sort (uniq .Params.tags) }}<li><img class="icon" src="{{ site.BaseURL }}/svg.icons/tag.svg" alt="Etiqueta" /> {{ if eq $tag "fotos" }}<a href="/photos/">fotos</a>{{ else }}<a href="/tags/{{ $tag | urlize }}">{{- $tag -}}</a>{{ end }}</li> {{ end }}
		{{ end }}
</ul>
{{ end }}
