    {{ if or (.Params.prev) (.Params.next) }}
      <div class="post-directions">
        {{ if .Params.prev }}<span class="prev"><a href="{{ .Params.prev }}" title="anterior"><img class="icon" src="{{ site.BaseURL }}svg.icons/arrowhead-left.svg" /></a></span>{{ end }}
        <a href="../">…</a>
        {{ if .Params.next }}<span class="next"><a href="{{ .Params.next }}" title="següent"><img class="icon" src="{{ site.BaseURL }}svg.icons/arrowhead-right.svg" /></a></span>{{ end }}
      </div>
    {{ end }}
