{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
    {{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}

{{ if and .Parent.Name (ne .Parent.Name "Posts") }}
<ul class="post-info">
		<li>
		{{ if eq .Parent.Name "Esborranys privats" }}
			<img class="icon" src="{{ site.BaseURL }}/svg.icons/archive.svg" alt="carpeta" /> Esborrany privat
		{{ else if and .Parent.Name (ne .Parent.Name "Posts") }}
			<img class="icon" src="{{ site.BaseURL }}/svg.icons/archive.svg" alt="carpeta" /> <a href="{{ .Parent.Permalink }}" title="{{ .Parent.Title }}">{{ .Parent.Name }}</a>
		{{ end }}
		</li>
</ul>
{{ end }}
