{{ $posts := where site.RegularPages "Type" "in" "posts" }}

{{ $titlePostsCount := len ( where $posts ".Params.title"  "!=" "" ) }}
{{ $microPostsCount := len ( where $posts ".Params.title"  "=" "" ) }}

{{ $scratch := newScratch }}
{{ range $posts }}
    {{ $scratch.Add "wordcount" .WordCount }}
{{ end }}

{{ $postCount :=  len ($posts) }}
{{ $wordCount := $scratch.Get "wordcount" }}
{{ $avgPostLength := div $wordCount $postCount }}
<table class="post-stats-tbl">
    <tr>
        <td width="40%">Nombre d'apunts</td>
        <td width="60%">{{ $postCount }}</td>
    </tr>
    <tr>
		<td>Mots totals</td>
		<td>{{ $wordCount }}{{ if gt $wordCount 40000 }} (quasi {{ div $wordCount 40000 }} novel·les){{ end }}</td>
	</tr>
    <tr>
		<td>Mitjana de mots per apunt</td>
		<td>{{ $avgPostLength }}</td>
	</tr>
    <tr>
		<td>Apunt més antic</td>
		<td>
            {{ range last 1 $posts }}
                {{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> {{ .Date.Format "2006-01-02" }}
				{{ else }}<a href="{{ .Permalink }}">Apunt sense títol</a> {{ .Date.Format "2006-01-02" }} 
				{{ end }}
            {{ end }}
		</td>
	</tr>
    <tr>
		<td>Apunts amb títol</td>
		<td>{{ $titlePostsCount }}</td>
	</tr>
    <tr>
		<td>Apunts sense títol</td>
		<td>{{ $microPostsCount }}</td>
	</tr>
</table>

{{ $grouped := $posts.GroupByDate "2006" }}

<h3 class="post-stats-hd">Apunts per any</h3>
<table class="post-stats-tbl">
    <tr>
        <td width="20%">Any</td>
        <td width="30%">Nombre d'apunts</td>
    </tr>
    {{ range $grouped }}
    <tr>
        <td>{{ .Key }}</td>
        <td>{{ len (where .Pages "Type" "in" "posts") }}</td>
    </tr>
    {{ end }}
</table>

<h3 class="post-stats-hd">Apunts per etiqueta</h3>
<table class="post-stats-tbl">
    <tr>
        <td width="20%">Etiqueta</td>
        <td width="30%">Nombre d'apunts</td>
    </tr>
    {{ range $key, $taxonomy := .Site.Taxonomies.tags.ByCount }}
    <tr>
        <td><a href="/tags/{{ $taxonomy.Name | urlize }}">{{ $taxonomy.Name }}</a></td>
        <td>{{ $taxonomy.Count }}</td>
    </tr>
    {{ end }}
</table>