:root {
    --font-color: #000;
    --bg-color: #fff;
    --content-bg-color: #fff;

    --note-bg-color: #eee;

    --foot-color: #333;

    --menu-color: #333;
    --menu-bg-color: #fff;

    --link-color: #a00000;
    --link-state-color: #a00000;

    --thead-bg-color: lightgrey;
    --table-border-color: lightgrey;

    --pre-color: #333;
    --pre-bg-color: #f0f0f0;
    
    --bq-bar-color: #999;
    --bq-color: #333;
    
    --hr-color: #eee;

    --pagination-bg-color: #fafafa;
    --pagination-link-color: #696969;

    --post-info-color: #333;

    --switcher-color: #fff;
    --switcher-bg-color: #333; 
}
