--font-color: #eee;
--bg-color: #111;
--content-bg-color: #111; /* #191919; */

--menu-color: #eee;
--menu-bg-color: #212121;

--link-color: #cc3333; /* #599ada; */
--link-state-color: #cc3333;
--link-state-border-color: rgba(204, 51, 51, 0.5);

--thead-bg-color: #343a40;
--table-border-color: lightgrey;

--pre-color: #333;
--pre-bg-color: #f1f1f1;

--bq-bar-color: #ccc;
--bq-color: #ccc;
--hr-color: #333;

--pagination-bg-color: #191919;
--pagination-link-color: #b6b6b6;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;
