<!-- Basic stuff -->
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer-when-downgrade">

<title>{{ .Site.Params.Author }}{{ if (not .IsHome) }} :: {{ if (.Title) }}{{ .Title }}{{ else }}{{ .Params.date.Format "2006-01-02 09:05" }}{{ end }}{{ end }}</title>
<meta name="description" content="{{ .Site.Params.Description }}">

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">
<link rel="apple-touch-icon" href="{{ "favicon.png" | absURL }}">

<link rel="stylesheet" href="{{ "css/light.css" | absURL }}?rnd={{ now.Unix }}" />
{{ partial "cssColors.html" }}
<link rel="stylesheet" href="{{ "css/style.css" | absURL }}?rnd={{ now.Unix }}" />

<link rel="stylesheet" href="{{ "css/poststats.css" | absURL }}?rnd={{ now.Unix }}" />

<link rel="stylesheet" href="{{ "/scripts/webmention.css" | absURL }}?rnd={{ now.Unix }}" />

{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ . | absURL }}?rnd={{ now.Unix }}">
{{- end }}

{{ if eq .Section "CPE" }}<link rel="stylesheet" href="{{ "css/cpe.css" | absURL }}?rnd={{ now.Unix }}" />{{- end }}

{{ range .Site.Params.customJS -}}
<script src="{{ . | absURL }}?rnd={{ now.Unix }}" type="text/javascript" charset="utf-8"></script>
{{- end }}


<!-- IndieWeb -->
<link href="https://mastodon.social/@carlesbellver" rel="me">
<link href="https://twitter.com/carlesbellver" rel="me">
<link href="https://github.com/carlesbellver" rel="me">
<!-- Webmentions -->
<link rel="webmention" href="https://webmention.io/carlesbellver.net/webmention" />
<link rel="pingback" href="https://webmention.io/carlesbellver.net/xmlrpc" />

{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}

<!-- Article tags -->
<!-- <meta property="article:published_time" content="">
<meta property="article:modified_time" content="">
<meta property="article:tag" content="">
<meta property="article:publisher" content=""> -->
{{ with .File }}<meta name="page-source-path" content="{{ .Path }}">{{end }}

{{ partial "head-extra.html" . }}

{{ if .Params.titleIt }}
<style type="text/css">
  h1.post-title { font-style: italic; }
</style>
{{ end }}