<nav>
  <div id="quickctrl">
    <a id="openquicklinks" onclick="menuOpen()"><svg viewBox="0 0 24 24" width="24" height="24"><rect y="10" width="24" height="1"></rect><rect y="16" width="24" height="1"></rect><rect y="22" width="24" height="1"></rect></svg></a>
    <a id="closequicklinks" style="display:none" onclick="menuClose()"><svg viewBox="0 0 24 24" width="24" height="24"><line x1="6" y1="12" x2="17" y2="23" stroke-width="2" /><line x1="6" y1="23" x2="17" y2="12" stroke-width="2" /></svg></a>
  </div>
  <div id="quicklinks">
    <a class="h-card" rel="me" href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a>
    {{ if .Site.Menus.main }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
    {{ partial "themeSwitcher.html" }}
  </div>
</nav>
