{{ $dateFormat := "2006" }}

{{ if .Params.license }}
  <div class="license">
    <p><img class="icon" src="{{ site.BaseURL }}/svg.icons/creativecommons.svg" alt="creative commons" /> Aquesta obra està subjecta a una <a rel="license" href="http://creativecommons.org/licenses/{{ .Params.license }}/4.0/" title="Consulteu el les condicions de la llicència">llicència de Creative Commons</a></p>
    <p><a rel="license" title="Consulteu el les condicions de la llicència" href="https://creativecommons.org/licenses/{{ .Params.license }}/4.0/"><img style="width: 100px; height: auto;" alt="Llicència de Creative Commons" src="/uploads/cc/{{ .Params.license }}.eu.png" /></a></p>
  </div>
{{ end }}
