    {{ if or (and .Parent (ne .Parent.Name .Site.Title)) (gt .ReadingTime 4) }}
      <ul class="post-navigation">
        {{ if .Parent }}
          <li>{{ if eq .Parent.Name "Esborranys privats" }}<img class="icon" src="{{ site.BaseURL }}/svg.icons/info.svg" alt="info" />{{ else }}<img class="icon" src="{{ site.BaseURL }}/svg.icons/arrow-circle-left.svg" alt="up" />{{ end }}
          {{ if eq .Parent.Name "Posts" }}
            <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">Blog</a>
          {{ else if eq .Parent.Name "Esborranys privats" }}
            Esborrany privat
          {{ else }}
            <a href="{{ .Parent.Permalink }}" title="{{ .Parent.Title }}">{{ .Parent.Name }}</a>
          {{ end }}
          </li>
        {{ end }}
        {{ if gt .ReadingTime 4 }}<li><span class="readingtime"><img class="icon" src="{{ site.BaseURL }}/svg.icons/clock.svg" alt="clock" /> {{ .ReadingTime }} minuts</span></li>{{ end }}
      </ul>
    {{ end }}
