{{ define "main" }}
    {{ if .Menus }}
        <nav class="post-navigation">
        {{ range .Menus }}
            <a  href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        </nav>
    {{ end }}
    
    {{ if .Parent }}
      {{ if ne .Parent.Name .Site.Title }}
        {{ if ne .Parent.Name "Posts" }}
          <nav class="post-navigation"><a  href="{{ .Parent.Permalink }}" title="{{ .Parent.Title }}">{{ .Parent.Name }}</a></nav>
        {{ else }}
          <nav class="post-navigation"><a  href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">Blog</a></nav>
        {{ end }}
      {{ end }}
    {{ end }}
    

    <article class="post{{ range $tag := .Params.tags }} {{ $tag }}{{end }} h-entry">
      {{ if .Title -}}
      <header class="post-header">
        <h1 class="post-title">{{ trim .Title  " " }}</h1>
      </header>
      {{- end }}
      
      {{ if .Params.Note }}
        <div class="note">
          {{ .Params.Note | safeHTML }}
        </div>
      {{- end }}
      
      <div class="content e-content">
        {{ partial "ht_content.html" . }}
        {{ if .Params.latitude }}{{ partial "map.html" . }}{{ end }}
      </div>
        
      {{ partial "postInfo.html" . }}

    </article>

    {{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
        {{ partial "paginationPost.html" . }}
    {{ end }}

{{ end }}