#microgram {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#microgram a {
  text-decoration: none;
}

#microgram .photo-link {
  display: block;
  float: left;
  aspect-ratio: 1 / 1;
  width: 48%;
  height: auto;
  margin: 1%;
  border-bottom: 0;
  text-align: center;
}

#microgram .photo {
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  margin 0 auto;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  transition: all 200ms ease-in-out;
}
#microgram .photo:hover {
  cursor: pointer;
  opacity: 0.75;
  border-bottom: 0 !important;
  text-decoration: none !important;
}