{{ define "main" }}

  <header class="post-header">
    <h1 class="post-title p-name"><span id="search_pattern">{{ .Site.Title }}</span>. <span id="no_hits">{{ len site.RegularPages }} pàgines</span></h1>
  </header>
  
    <div class="homepage-content">
        {{ .Content }}
    </div>

<script src="/scripts/search.js"></script>

<form class="search" onSubmit="return false;">
	<input class="field" type="text" name="q" id="input_search" placeholder="Paraules clau" onChange="runSearch(this.value.toLowerCase());" />
	<input class="submit" role="button" type="submit" value="🔍" onClick="runSearch(document.getElementById('input_search'));" />
	<input class="reset" role="button" type="reset" value="❌" onClick="resetSearch();" />
</form>

  <article id="list_results" class="post-list">
    <p id="srch_notice">S'està carregant l'índex…</p>
{{/*
 	{{ $list := (where site.AllPages "Type" "in" site.Params.mainSections) }}
	{{ range $list }}
		{{ if .Plain }}
      {{ partial "postSummary.html" . }}
    {{ end }}
	{{ end }}
	</article>
*/}}	
{{ end }}